* {
  box-sizing: border-box;
}

body > *:not(nav) {
  padding: 20px;
}

body > ul.collection {
  margin: 0 20px;
  padding: 10px;
}

.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.turquoise {
  color: #26a69a;
}

.todo button {
  background: none;
  border: none;
}

.material-icons:hover {
  cursor: pointer;
  opacity: 0.8;
}

#message {
  position: absolute;
  width: 98%;
  left: 1%;
  margin: 10px auto;
  padding: 10px;
  font-style: italic;
  display: none;
  color:  #F5B7B1;
}

#message.failure {
  background: #FDEDEC;
  border: 1px solid #F5B7B1;
}

#message.success {
  background: #D5F5E3;
  border: 1px solid #82E0AA;
  color: #82E0AA;
}
